#################
# IntelliJ IDEA
#################
.idea/*
*.iml
*.ipr
*.iws

#################
# Gradle 
#################
build/*
.gradle/*

#################
# Eclipse
#################
.classpath
.project
.settings/
bin/
